*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    max-width: 1000px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 100px  auto;
}
a{
    text-decoration: none;
}
a:hover{
    color: #800707;
}
.container{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* border: 1px solid #444; */
    box-shadow: 0 0 8px #777;
}
.image-container{
    background: blue;
    padding: 20px;
    width: 70%;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 50px auto 10px;
}


.main-heading, .text{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.text{
    padding: 10px;
    font-size: 12px !important;
    margin-bottom: 20px;
}
.form-container{
    width: 100%;
    padding: 30px 0;
}
.login-text{
    text-align: center;
    padding: 20px 10px 10px;
}
label{
    font-size: 20px;
    color: #555;

}
.form-content{
   padding: 15px 100px 0 ;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border:1px solid #999;
}
.forgot-link{
    padding-top: 5px;
    text-decoration: none;
    padding-left: 100px;
    /* color: #0e4569d8; */
}
.btn-container{
    padding-top: 10px;
    padding-left: 100px;
}
.btn{
    /* width: 80%; */
    padding: 9px 170px;
    border-radius: 5px;
    border: none;
    background: blue;
    color: #fff;
    font-size: 15px;
    transition: .5s;
    cursor: pointer;
}
.btn:hover{
    background: #0505b3;
}
.action-text{
    padding-left: 325x;
    padding-top: 5px;
    /* text-align: right; */
}
.alternative{
    margin: 0 auto 10px;
    border: 1px solid #888;
    width: 25px;
    padding: 3px;
    border-radius: 50%;
    
}
.social-link{
    padding-left: 100px;
    display: flex;
    gap: 20px;
}
.btn--1{
    padding: 15px 62px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.facebook{
    background: blue;
    color: #fff;
    transition: .5s;
}
.google{
    background: red;
    color: #fff;
    transition: .5s;
}
.facebook:hover{
    background: #0505b3;
}
.google:hover{
    background: #800707;
}